.loader-container {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 99;
  opacity: 0.8;
  background-color: black;
}
nav {
  background-color: #2a2a2a;
}
nav .logo {
  width: 150px;
  margin-right: 50px;
}
nav .search-input {
  border-radius: 24px;
  background-color: #121212;
  color: white;
  border: 1px solid #121212;
}
nav .nav-item a {
  color: white;
  position: relative;
  text-decoration: none;
}
nav .nav-item a::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 4px;
  background-color: gray;
  bottom: 0;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}
nav .nav-item a:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}
nav .search-form {
  width: 70%;
}
