<div class="filters">
    <form>
        <select class="form-select" aria-label="Default select example" panelClass="sort-select" [(ngModel)]="sort" name="select">
            <option selected>Open this select menu</option>
            <option value="name">Name</option>
            <option value="released">Released</option>
            <option value="added">Added</option>
            <option value="created">Created</option>
            <option value="updated">Updated</option>
            <option value="rating">Rating</option>
            <option value="metacritic">Metacritic</option>
        </select>
    </form>
</div>

<div class="games">
    <div class="game">
        <div class="game-thumb-container">
            <img src="https://media.rawg.io/media/screenshots/1ac/1ac19f31974314855ad7be266adeb500.jpg" alt="thumbnail" class="game-thumbnail">
        </div>
        <div class="game-description">
            <p class="game-name"></p>
            <div class="game-platforms">
                <img class="game-platform" src="https://media.rawg.io/media/screenshots/1ac/1ac19f31974314855ad7be266adeb500.jpg" alt="slug">
            </div>
        </div>
    </div>
</div>
