<div class="home-container">

    <div class="row row-cols-1 row-cols-md-5 g-2 games">
      <ng-container *ngFor="let game of games | paginate: { itemsPerPage: 20, currentPage: p, totalItems: total }">
        <div class="col game" (click)="openGameDetails(game.id)">
          <div class="card h-100 game-thumb-container">
            <img 
              *ngIf="game.background_image"
              src="{{game.background_image}}" 
              class="card-img-top game-thumbnail" 
              alt="thumbnail"
              
            >
            <p *ngIf="!game.background_image">No Image</p>
            <div class="card-body">
              <h5 class="card-title game-name">{{game.name}}</h5>
              <div class="genre">
                <ng-container *ngFor="let genre of game.genres">
                  <p>{{genre.name}}</p>
                </ng-container>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
    </div>

    <div class="filters">
      <!-- <h6 class="filter">Filters</h6> -->
      <form>
          <select 
            class="form-select" 
            aria-label="Default select example" 
            panelClass="sort-select" 
            [(ngModel)]="sort" 
            name="select"
            (change)="searchGames(sort)"
          >
            <option value="" disabled selected hidden>Order by:</option>
            <option value="name">Name</option>
            <option value="-released">Released</option>
            <option value="-added">Added</option>
            <option value="-created">Created</option>
            <option value="-updated">Updated</option>
            <option value="-rating">Rating</option>
            <option value="metacritic">Metacritic</option>
          </select>
      </form>
  </div>
</div>

<div class="pagination">
  <pagination-controls (pageChange)="pageChangeEvent($event)"></pagination-controls>
</div>



