<div class="details">
    <div class="game-content">
        <h1>{{game.name}}</h1>
        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <ng-container *ngFor="let indexZero of indexZero" > 
                    <img *ngIf="indexZero.num == 0" 
                        src={{indexZero.image}} 
                        alt="{{indexZero.id}}" 
                        data-bs-target="#carouselExampleIndicators" 
                        attr.data-bs-slide-to="{{indexZero.num}}" 
                        class="active" 
                        aria-current="true"
                    >
                    <img *ngIf="indexZero.num != 0"
                        src={{indexZero.image}} 
                        alt="{{indexZero.id}}" 
                        data-bs-target="#carouselExampleIndicators" 
                        attr.data-bs-slide-to="{{indexZero.num}}"
                    >
                </ng-container>
            </div>
            <div class="carousel-inner">
                <ng-container *ngFor="let indexZero of indexZero" >
                    <div class="carousel-item active" *ngIf="indexZero.num == 0">
                        <img src={{indexZero.image}} alt="{{indexZero.id}}" class="d-block w-100">
                    </div>
                    <div class="carousel-item" *ngIf="indexZero.num != 0">
                        <img src={{indexZero.image}} alt="{{indexZero.id}}" class="d-block w-100">
                    </div>
                </ng-container>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
</div>


<!-- <div class="details">
    <div class="game-banner">
        <img src="https://media.rawg.io/media/screenshots/d40/d4044a9177d3ccfb9d9c0550cd3c9104.jpg" alt="bg">
    </div>
    <div class="game-content">
        <div class="details-wrapper">
            <div class="game-header">
                <h1 class="game-header-title">Game Name</h1>
                <h2 class="geme-header-release-date">asd</h2>
                <p class="game-header-genres">
                    <span>rpg</span>
                </p>
            </div>
        </div>
    </div>  
</div> -->