<div *ngIf="loaderService.isLoading | async" class="loader-container">
    <!-- <mat-progress-bar mode="indeterminate"></mat-progress-bar> -->
    <mat-spinner style="top: 40%; left:50%;"></mat-spinner>
</div>
<div class="details">
    <div class="game-content">
        <h1>{{game.name}}</h1>
        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <ng-container *ngFor="let indexZero of indexZero" >
                    <div class="carousel-item active" *ngIf="indexZero.num == 0">
                        <img src={{indexZero.image}} alt="{{indexZero.id}}" class="d-block w-100">
                    </div>
                    <div class="carousel-item" *ngIf="indexZero.num != 0">
                        <img src={{indexZero.image}} alt="{{indexZero.id}}" class="d-block w-100">
                    </div>
                </ng-container>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>

            <div class="carousel-indicators">
                <ng-container *ngFor="let indexZero of indexZero" > 
                    <img *ngIf="indexZero.num == 0" 
                        src={{indexZero.image}} 
                        alt="{{indexZero.id}}" 
                        data-bs-target="#carouselExampleIndicators" 
                        attr.data-bs-slide-to="{{indexZero.num}}" 
                        class="active" 
                        aria-current="true"
                    >
                    <img *ngIf="indexZero.num != 0"
                        src={{indexZero.image}} 
                        alt="{{indexZero.id}}" 
                        data-bs-target="#carouselExampleIndicators" 
                        attr.data-bs-slide-to="{{indexZero.num}}"
                    >
                </ng-container>
            </div>
        </div>

        <div>
                <div class="game-description" #textbox [class.show-less]="expand === false" [innerHTML]="game.description"></div>
            <a
              (click)="toggle()"
              *ngIf="
                textbox.offsetHeight < textbox.scrollHeight ||
                (expand === true && textbox.offsetHeight > 40)
              "
            >{{ anchor }}</a>

        </div>
        
        <div class="game-specifications">
            <h2>Specifications</h2>
        </div>
        
    </div>
</div>