<div *ngIf="loaderService.isLoading | async" class="loader-container">
    <!-- <mat-progress-bar mode="indeterminate"></mat-progress-bar> -->
    <mat-spinner style="top: 40%; left:50%;"></mat-spinner>
</div>
<div class="details" *ngIf="game">
    <img src="{{game.background_image}}" alt="" class="game-bg-image">
    <div class="game-content">
        <h1>{{game.name}}</h1>
        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <ng-container *ngIf="game.trailers.length != 0">
                    <ng-container *ngFor="let preview of screenshots_trailers">
                        <div class="carousel-item active" *ngIf="preview.num == 0 && preview.data">
                            <video
                                class="game-trailer d-block w-100"
                                width="100%"
                                height="100%"
                                controls="controls"
                            >
                                <source src="{{ preview.data?.max }}" type="video/mp4"/>

                                Your browser does not support the video tag.
                            </video>
                        </div>

                        <div class="carousel-item" *ngIf="preview.num != 0 && preview.data">
                            <video
                                class="game-trailer d-block w-100"
                                width="100%"
                                controls="controls" 
                            >
                                <source src="{{ preview.data?.max }}" type="video/mp4"/>
                                Your browser does not support the video tag.
                            </video>
                        </div>

                        <div class="carousel-item" *ngIf="preview.num != 0 && !preview.data">
                            <img src={{preview.image}} alt="{{preview.id}}" class="d-block w-100">
                        </div>

                    </ng-container>
                </ng-container>

                <ng-container *ngIf="game.trailers.length == 0">
                    <ng-container *ngFor="let preview of screenshots_trailers">
                        <div class="carousel-item active" *ngIf="preview.num==0">
                            <img src={{preview.image}} alt="{{preview.id}}" class="d-block w-100">
                        </div>
                        <div class="carousel-item" *ngIf="preview.num != 0">
                            <img src={{preview.image}} alt="{{preview.id}}" class="d-block w-100">
                        </div>
                    </ng-container>
                </ng-container>

            </div>

            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>

            <div class="carousel-indicators">
                <ng-container *ngIf="game.trailers.length != 0">
                    <ng-container *ngFor="let preview of screenshots_trailers">
                        <img 
                            *ngIf="preview.num == 0 && preview.data" 
                            src="{{preview.preview}}" 
                            alt="{{preview.id}}"
                            data-bs-target="#carouselExampleIndicators" 
                            attr.data-bs-slide-to="{{preview.num}}"
                            class="active" 
                            aria-current="true"
                        >
                        <img 
                            *ngIf="preview.num != 0 && preview.data" 
                            src="{{preview.preview}}" 
                            alt="{{preview.id}}"
                            data-bs-target="#carouselExampleIndicators" 
                            attr.data-bs-slide-to="{{preview.num}}"
                        >

                        <img *ngIf="preview.num != 0 && !preview.data"
                            src={{preview.image}} 
                            alt="{{preview.id}}" 
                            data-bs-target="#carouselExampleIndicators" 
                            attr.data-bs-slide-to="{{preview.num}}"
                        >

                    </ng-container>
                </ng-container>

                <ng-container *ngIf="game.trailers.length == 0">
                    <ng-container *ngFor="let preview of screenshots_trailers">
                        <img *ngIf="preview.num == 0" 
                            src={{preview.image}} 
                            alt="{{preview.id}}" 
                            data-bs-target="#carouselExampleIndicators" 
                            attr.data-bs-slide-to="{{preview.num}}" 
                            class="active" 
                            aria-current="true"
                        >
                        <img *ngIf="preview.num != 0"
                            src={{preview.image}} 
                            alt="{{preview.id}}" 
                            data-bs-target="#carouselExampleIndicators" 
                            attr.data-bs-slide-to="{{preview.num}}"
                        >
                    </ng-container>
                </ng-container>
            </div>
        </div>

        <div>
                <div class="game-description" #textbox [class.show-less]="expand === false" [innerHTML]="game.description"></div>
            <a
              (click)="toggle()"
              *ngIf="
                textbox.offsetHeight < textbox.scrollHeight ||
                (expand === true && textbox.offsetHeight > 40)
              "
            >{{ anchor }}</a>

        </div>

        <div class="game-platforms">
            <h2>Platforms</h2>  
            <div class="platforms">
                <img 
                *ngFor="let gamePlatform of game.parent_platforms"
                class="game-platoform"
                src="../../../assets/images/{{gamePlatform.platform.slug}}.svg" 
                alt="{{gamePlatform.platform.slug}}"
            >
            </div>
        </div>
        
        <div class="game-specifications" *ngIf="platform.requirements.recommended">
            <h2>Specifications</h2>
            <div class="requirements">
                <div class="minimum">
                    {{platform.requirements.recommended}}
                </div>
                <div class="recommended"></div>
            </div>
        </div>
        
    </div>

    <div class="developers">
        <h4>Developers</h4>
        <ul>
            <li *ngFor="let developer of game.developers">
                <div class="developers-profile">
                    <div class="dev-image" *ngIf="developer.image != null"><img src="{{developer.image}}" alt=""></div>
                    <div class="dev-name" *ngIf="developer.image != null">{{developer.name}}</div>
                </div>
                <!-- <div class="separator" *ngIf="developer.image != null"></div> -->
            </li>
        </ul>
    </div>
</div>
