.loader-container {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 99;
  opacity: 0.8;
  background-color: black;
}
.details {
  margin-bottom: 20px;
  display: flex;
}
.details .game-bg-image {
  position: absolute;
  z-index: -1;
  opacity: 0.1;
  filter: blur(8px);
  -webkit-filter: blur(8px);
  width: 100%;
  bottom: 0%;
  top: 1%;
}
.details .game-content {
  width: 1000px;
  margin: 0px 20px 0px auto;
}
.details .game-content h1 {
  color: white;
  font-size: 30px;
  line-height: 35px;
  letter-spacing: -0.3px;
  margin-bottom: 20px;
}
.details .game-content .carousel {
  width: 1000px;
  height: 600px;
  margin: 0px auto;
}
.details .game-content .carousel .carousel-indicators {
  position: relative;
  margin-top: 20px;
  overflow-x: auto;
}
.details .game-content .carousel .carousel-indicators img {
  width: 100px;
  height: 50px;
}
.details .game-content .carousel .carousel-indicators::-webkit-scrollbar {
  height: 10px;
  /* height of horizontal scrollbar ← You're missing this */
  width: 20px;
  /* width of vertical scrollbar */
  border: 1px solid #202020;
  border-radius: 10px;
}
.details .game-content .carousel .carousel-indicators::-webkit-scrollbar-thumb:horizontal {
  background-color: #202020;
  border-radius: 10px;
}
.details .game-content .carousel .carousel-inner .carousel-item img {
  height: 100%;
}
.details .game-content .game-description {
  margin-top: 100px;
  color: white;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0.2px;
}
.details .game-content a {
  color: white;
  cursor: pointer;
  width: 100%;
  background-color: #202020;
  padding: 15px;
  display: block;
  text-align: center;
  border-radius: 4px;
  margin: 20px 0px;
}
.details .game-content a:hover {
  background-color: rgba(143, 140, 140, 0.2);
}
.details .game-content .show-less {
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.details .game-content .game-platforms h2 {
  color: white;
  font-size: 16px;
  line-height: 25px;
  letter-spacing: -0.2px;
}
.details .game-content .game-platforms .platforms {
  display: flex;
  justify-content: center;
  background-color: #202020;
  padding: 20px 0px;
  margin-bottom: 20px;
}
.details .game-content .game-platforms .platforms img {
  width: 30px;
  height: 30px;
  margin: 0px 10px;
  transition: all 0.2s ease-in-out;
}
.details .game-content .game-platforms .platforms img:hover {
  transform: scale(1.5);
}
.details .game-content .game-specifications h2 {
  color: white;
  font-size: 16px;
  line-height: 25px;
  letter-spacing: -0.2px;
}
.details .game-content .game-specifications .requirements {
  background-color: #202020;
  padding: 20px;
}
.details .game-content .game-specifications .minimum {
  color: white;
}
.details .other-details {
  margin: 0px auto 0px 20px;
  width: 300px;
  background-color: #202020;
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.details .other-details h4 {
  color: white;
  text-align: center;
}
.details .other-details .game-platforms h2 {
  color: white;
  font-size: 16px;
  line-height: 25px;
  letter-spacing: -0.2px;
}
.details .other-details .game-platforms .platforms {
  background-color: #202020;
  padding: 20px 0px;
  margin-bottom: 20px;
}
.details .other-details .game-platforms .platforms .game-store {
  margin: 10px 0px;
  text-align: center;
}
.details .other-details .game-platforms .platforms img {
  width: 30px;
  height: 30px;
  margin: 0px 10px;
  transition: all 0.2s ease-in-out;
}
.details .other-details .game-platforms .platforms img:hover {
  transform: scale(1.5);
}
.details .other-details .stores .store {
  display: flex;
  border-radius: 6px;
  background-color: hsla(0, 0%, 100%, 0.1);
  align-items: center;
  justify-content: center;
  width: 45%;
  height: 50px;
}
.details .other-details .stores .store a {
  text-decoration: none;
  color: white;
}
.details .other-details .stores .store:hover {
  background-color: rgba(255, 255, 255, 0.151);
}
.details .other-details .developers {
  margin-top: 40px;
}
.details .other-details .developers li {
  margin: 10px 0px;
  list-style-type: none;
}
.details .other-details .developers li .developers-profile {
  display: flex;
  align-items: center;
  margin-bottom: 2piyhtkkjkhoippo -2y 8o 8oui 800900px;
}
.details .other-details .developers li .developers-profile .dev-image img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.details .other-details .developers li .developers-profile .name-position {
  margin-left: 10px;
}
.details .other-details .developers li .developers-profile .name-position .dev-name {
  color: white;
}
.details .other-details .developers li .developers-profile .name-position .dev-positions ul {
  margin: none;
}
.details .other-details .developers li .developers-profile .name-position .dev-positions ul li {
  display: inline-block;
  list-style-type: none;
  margin: 0px;
}
.details .other-details .developers li .developers-profile .name-position .dev-positions ul li p {
  margin-right: 3px;
  color: #8d8d8d;
  font-size: 12px;
  margin-bottom: 0px;
}
.details .other-details .developers li .separator {
  width: 100%;
  border: 0.5px solid #5a5a5a;
}
